<table cellspacing="0" cellpadding="0" border="1" style="font-size: 11pt; font-family: Calibri; border: none; border-collapse: collapse; width: 100%;">
    <tbody style="border-color: transparent !important;">
        <tr>
            <td style="text-align:center;" rowspan="1" colspan="15"><span style="font-size:11pt;font-family:Calibri,Arial;"></span><strong><span style="font-size:12pt;font-family:Calibri,Arial;">INSTITUCIÓN EDUCATIVA TÉCNICA SAN FRANCISCO DE ASÍS</span></strong><span style="font-size:11pt;font-family:Calibri,Arial;"><br/></span><strong><span style="font-size:10pt;font-family:Calibri,Arial;">ANCUYA - NARIÑO - COLOMBIA</span></strong><span style="font-size:11pt;font-family:Calibri,Arial;"><br/>Resolución No. 0280 de Febrero 23 de 2021  Dane: 152036000036<br/></span><strong><span style="font-size:11pt;font-family:Calibri,Arial;">SEDE EDUCATIVA COCHA BLANCA</span></strong><span style="font-size:11pt;font-family:Calibri,Arial;"><br/>SEDE CUATRO (4)    DANE: 252036000138    DIRECCIÓN: Verede Cocha Blanca;</span></td>
        </tr>
        <tr>
            <td style="text-align:center;font-size:16pt;border-bottom:1px solid #000000;" rowspan="1" colspan="5">INFORME ACADÉMICO</td>
            <td style="text-align:center;font-size:16pt;border-bottom:1px solid #000000;" rowspan="1" colspan="6">AÑO ESCOLAR 2024</td>
            <td style="text-align:center;font-size:14pt;border-bottom:1px solid #000000;" rowspan="1" colspan="4">GRADO PRIMERO</td>
        </tr>
        <tr>
            <td style="text-align:center;font-size:14pt;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">ESTUDIANTE</td>
            <td style="text-align:center;font-size:14pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="9"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;font-family:Calibri;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3"><br/></td>
        </tr>
        <tr>
            <td style="text-align:center;font-size:12pt;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="2" colspan="3">
                <div>ÁREAS OBLIGATORIAS<br/>Y FUNDAMENTALES</div>
            </td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="2" colspan="1">
                <div>I.H.</div>
            </td>
            <td style="text-align:center;font-size:13pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="8">VALORACIóN POR PERÍODOS</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">PROMEDIO</td>
        </tr>
        <tr>
            <td style="text-align:center;font-size:9pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">1 PERÍODO<br/>29/01- 05/04</td>
            <td style="text-align:center;font-size:9pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">2 PERÍODO<br/>08/04 - 14/06</td>
            <td style="text-align:center;font-size:9pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">3 PERÍODO<br/>17/06 - 13/09</td>
            <td style="text-align:center;font-size:9pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">4 PERÍODO<br/>16/09 - 29/11</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;">E. I.</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">ESCALA NAL.</td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Ciencias Naturales y Educación<br/>Ambiental</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Ciencias Sociales, historia, GeografÍa,<br/>Constitución PolÍtica y Democracia</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Educación ArtÍstica</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Educación Ética y en Val. Humanos</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Educación FÍsica, Recr. y Deportes</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Educación Religiosa</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Lengua Castellana</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Idioma Extranjero (InglÉs)</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Matemáticas</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Informática</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="font-size:12pt;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">SUMA / PROMEDIO</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Total días no asistidos a clase</td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">%</td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">Convivencia Escolar</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3"><br/></td>
        </tr>
        <tr>
            <td rowspan="1" colspan="15"><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="5">ESCALA DE VALORACIóN</td>
            <td><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">NACIONAL</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">INSTITUC.</td>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="4">APROBADO</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">DESEMPEÑO SUPERIOR</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">4,6 a 5,0</td>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;font-size:10pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="4">PROMOVID@ AL GRADO</td>
            <td style="text-align:center;font-size:12pt;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2"><br/></td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">DESEMPEÑO ALTO</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">4,0 a 4,5</td>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="6">Según Decreto 1290 de 2009</td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">DESEMPEÑO BáSICO</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">3,0 a 3,9</td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-right:1px solid #000000;"><br/></td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="3">DESEMPEÑO BAJO</td>
            <td style="text-align:center;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="2">1,0 a 2,9</td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
            <td><br/></td>
        </tr>
        <tr>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
            <td style="border-bottom:1px solid #000000;"><br/></td>
        </tr>
        <tr>
            <td style="text-align:center;font-size:13pt;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="15">   OBSERVACIONES</td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="15"><strong><span style="font-size:11pt;font-family:Calibri,Arial;">PRIMER PERÍODO:</span></strong></td>
        </tr>
        <tr>
            <td style="font-family:Calibri;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="15"><strong><span style="font-size:11pt;font-family:Calibri,Arial;">SEGUNDO PERÍODO:</span></strong><span style="font-size:11pt;font-family:Calibri,Arial;"></span></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="15"><strong><span style="font-size:11pt;font-family:Calibri,Arial;">TERCERO PERÍODO:</span></strong></td>
        </tr>
        <tr>
            <td style="border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000;" rowspan="1" colspan="15"><strong><span style="font-size:11pt;font-family:Calibri,Arial;">CUARTO PERÍODO:</span></strong></td>
        </tr>
        <tr>
            <td rowspan="1" colspan="15"><br/></td>
        </tr>
        <tr>
            <td rowspan="1" colspan="3"><br/></td>
            <td style="text-align:center;" rowspan="1" colspan="7">_________________________<br/>Rosa Albina ****** Hidalgo<br/>DIRECTORA DE GRADO</td>
            <td rowspan="1" colspan="5"><br/></td>
        </tr>
    </tbody>
</table>